@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #212121;
}

html::-webkit-scrollbar-thumb {
  background: #343434;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: rgb(24, 24, 27);
}
