@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@font-face {
  font-family: 'Akshar';
  src: url('./fonts/Akshar-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akshar';
  src: url('./fonts/Akshar-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akshar';
  src: url('./fonts/Akshar-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akshar';
  src: url('./fonts/Akshar-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #212121;
}

html::-webkit-scrollbar-thumb {
  background: #343434;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Akshar', sans-serif;
  background-color: #101828;
}

@theme static {
  --radius-sm: 0.15rem;
  --radius-md: 0.15rem;
  --radius-lg: 0.15rem;
}
